
.custom-text{
     
     margin-top: 30px;
     text-align:left;
     color:white;
     letter-spacing: 0.8px;
     font-weight: 400;
    
}
.custom-section{
   
    width:100%;
   margin-top:150px;
}
.canvas{
    margin-top:50px;
}
.custom-text h1{
    font-size:60px;
    
    margin-top:-30px;
    margin-left: -20px;
    
}



@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}

@keyframes waviy {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(-20px);
  }
}




.special-text{
    color:#EF93CB;
    font-weight: 400;
   
    text-transform: uppercase;
    
}
.animated{
animation:spin 4s;

}
p:last-of-type{
    font-size: 20px;
    margin-left:20px;
   
}
.animated2{
  animation-name: waviy;
   
  animation-duration: 4s;
}